.problem2-form-box {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  background: rgba(217, 217, 217, 0.58);
  margin-bottom: 20px;
}

.problem2-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.output {
  background-color: cornsilk;
  height: 40px;
  width: min(30%, max-content);
  background-color: rgba(217, 217, 217, 0.58);
  color: black;
  border: 2px solid white;
  border-radius: 2px;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 5px;
}
